
/* body e tag singoli */



body {
background-color : #ededed;
margin : 0;

   

}
h1, h2 {
font-weight : bolder;
}



.linkstilizzato1 {
    text-decoration: none;
    color: #222;
    transition: color 0.3s;
    font-family: Arial Black;
        font-weight: 70;
        font-size: 16px;
        text-transform: uppercase;
}

.linkstilizzato1:hover {
    color: #ed1c24;
}

.linkstilizzato1:active {
    color: #ed1c24;
}
#insert {
    
    left: 35%;
    top: 10%;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: fit-content;
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    padding: 1em 1em 2em;
    margin-bottom: 3.5em;
}
.loginscritta{
    
            text-align: center;
            font-family: Arial Black;
            font-weight: 700;
            font-size: 500px;
            color: #000000;
            text-transform: uppercase;
            padding-left: 30px;
            padding-top: 40px;
        

}
#login-form {
    margin: 120px auto 20px;
    
    width: 45%;
    height: 730px;
    /* Ridotto la larghezza */
    padding: 30px;
    
    /* Ridotto il padding */
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 16px;
    /* Ridotto la dimensione del titolo */
    color: #000000;
    text-transform: uppercase;
} 
#login-formins {
    margin: 20px auto 0;

    width: 45%;
    height: 800px;
    /* Ridotto la larghezza */
    padding: 30px;
    /* Ridotto il padding */
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 16px;
    /* Ridotto la dimensione del titolo */
    color: #000000;
    text-transform: uppercase;
}
#login-form4 {
    margin: 20px auto 0;

    width: 45%;
    height: 900px;
    /* Ridotto la larghezza */
    padding: 30px;
    /* Ridotto il padding */
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 16px;
    /* Ridotto la dimensione del titolo */
    color: #000000;
    text-transform: uppercase;
}
#login-form3 {
    margin: 50px auto 0;

    width: 45%;
    height: 600px;
    /* Ridotto la larghezza */
    padding: 30px;
    /* Ridotto il padding */
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 16px;
    /* Ridotto la dimensione del titolo */
    color: #000000;
    text-transform: uppercase;
}
#login-form0 {
    margin: 60px auto 0;
   
    width: 45%;
    height: 400px;
    /* Ridotto la larghezza */
    padding: 30px;
    /* Ridotto il padding */
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 16px;
    /* Ridotto la dimensione del titolo */
    color: #000000;
    text-transform: uppercase;
}
#login-form2 {
    margin: 40px auto 0;

    width: 45%;
    height: 300px;
    /* Ridotto la larghezza */
    padding: 30px;
    /* Ridotto il padding */
    background: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 16px;
    /* Ridotto la dimensione del titolo */
    color: #000000;
    text-transform: uppercase;
}
#login-form0 label {
    display:inline-flex;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
#login-form label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
#login-form4 label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
#login-formins label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
#login-form1 {
text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
}
#login-form2 label {
    display: inline-flex;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}

#login-form3 label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
}
.lol {padding-bottom:0;}
.logonuovo {
   width: auto;
height: 50px;
width: auto;

}
#logocontainer img {
    display: block;
    margin: 0 auto;
}
#logocontainer {
   
    overflow: hidden;
    /* Nascondi il contenuto che eccede le dimensioni fisse */
}

input[type="text"],
input[type="password"], 
input[type="number"],
input[type="datetime"] {
    width: 100%;
    height: 20px;
    padding: 10px;
    padding-right: 5px;
    margin: 10px 0;
    outline: none;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    font-size: 16px;
    border-radius: 8px;
    /* Aggiunto bordi arrotondati */
}

#login-form input[type="submit"] {
    width: 150px;
    height: 38px;
    border: none;
    background-color: #ed1c24;
    /* Colore di sfondo rosso */
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
#login-formins input[type="submit"] {
    width: 150px;
    height: 38px;
    border: none;
    background-color: #ed1c24;
    /* Colore di sfondo rosso */
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
#login-form4 input[type="submit"] {
    width: 150px;
    height: 38px;
    border: none;
    background-color: #ed1c24;
    /* Colore di sfondo rosso */
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
#login-form3 input[type="submit"] {
    width: 200px;
    height: 38px;
    border: none;
    background-color: #ed1c24;
    /* Colore di sfondo rosso */
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
#login-form2 input[type="submit"] {
    width: 150px;
    height: 38px;
    border: none;
    background-color: #ed1c24;
    /* Colore di sfondo rosso */
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}
#login-form0 input[type="submit"] {
    width: 150px;
    height: 38px;
    border: none;
    background-color: #ed1c24;
    /* Colore di sfondo rosso */
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

#loginform input[type="submit"] {
    width: 150px;
        height: 38px;
        border: none;
        background-color: #ed1c24;
        /* Colore di sfondo rosso */
        border-radius: 40px;
        cursor: pointer;
        font-size: 18px;
        color: #fff;
}


input[type="submit"]:hover {
    background-color: #222;
    /* Cambia il colore al passaggio del mouse */
}

/* Aggiunto uno stile per i messaggi di errore o successo */
.error-message,
.success-message {
    font-size: 18px;
    color: #ed1c24;
    /* Colore rosso per messaggi di errore */
}

.success-message {
    color: #4caf50;
    /* Colore verde per messaggi di successo */
}

label {
font-size : 20px;
}
input[type="radio"] {
margin : 20px 0 20px 0;
border : #cdcdcd solid 4px;
}

#ass {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    text-align: left;
    vertical-align: top;
}

#ass:focus {
    border-color: #222;
    /* Cambia il colore del bordo quando la textarea è in focus */
    box-shadow: 0 0 5px #ed1c24;
    /* Aggiunge un effetto di ombra quando la textarea è in focus */
}
input[type="email"] {
width: 100%;
height : 28px;
padding : 5px;
margin : 5px;
outline : none;
border : #cdcdcd solid 1px;
background-color : white;
font-size : 16px;
}
input[type="tel"] {
width : 300px;
height : 28px;
padding : 5px;
margin : 5px;
outline : none;
border : #cdcdcd solid 1px;
background-color : white;
font-size : 16px;
}
input[type="date"] {
width : 300px;
height : 28px;
padding : 5px;
margin : 5px;
outline : none;
border : #cdcdcd solid 1px;
background-color : white;
font-size : 16px;
}


th {
padding-bottom : 20px;
font-size : 18px;
font-family : "Montserrat";
}
fieldset {
border : none;
margin : 16px 0 18px;
padding-bottom : 30px;
}

/* ID NAV CONTENT DIV */

#content {
width : 78%;
margin-top : 15px;
margin-left : 11%;
margin-right : 11%;
background-color : white;
padding-bottom : 20px;
line-height : 24px;
display: block;
}
#content2 {
    width: 78%;
    margin-top: 15px;
    margin-left: 11%;
    margin-right: 11%;
    background-color: #ededed;
    padding-bottom: 20px;
    line-height: 24px;
    display: block;
}
#contentbenefici {
width : 78%;
margin-top : 30px;
margin-left : 11%;
margin-right : 11%;
background-color : white;
padding-bottom : 0;
margin-bottom : 0;
line-height : 28px;
}
.menu1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    /* Cambia il colore di sfondo a tuo piacimento */
    padding-left: 70px;
    z-index: 1000;
    /* Assicurati che il menu sia sovrapposto al contenuto */
}

.menu1 table {
    width: 100%;
}

.menu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu1 li {
    display: inline;
}
 
.menu1 a {
    border: none;
    background-color: #222;
    color: #ededed;
    font-family: Arial Black;
    padding: 10px 0 10px 15px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.menu1 a:hover {
    color: #ed1c24;
}
/* Stile del menu fisso */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    /* Cambia il colore di sfondo a tuo piacimento */
    padding-left: 70px;
    z-index: 1000;
    transition: background 0.6s, opacity 0.4s;
    /* Assicurati che il menu sia sovrapposto al contenuto */
}

.menu table {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
}

.menu a {
    border: none;
    color: #ededed;
    font-family: Arial Black;
    padding: 10px 0 10px 15px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.menu a:hover {
    color: #ed1c24;
}
.bottone {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    /* Bordo arrotondato */
    margin-top: 20px;
    /* Spazio tra la scritta e il bottone */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    /* Aggiunge una transizione per un effetto hover */
}
.bottone1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #222;
    font-size: 18px;
    border-radius: 5px;
    /* Bordo arrotondato */
    margin-top: 20px;
    /* Spazio tra la scritta e il bottone */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    /* Aggiunge una transizione per un effetto hover */
}
.bottone1:hover {
    background-color: #222;
    /* Cambia il colore di sfondo al passaggio del mouse */
    color: #ededed;
    /* Cambia il colore del testo al passaggio del mouse */
}

.bottone:hover {
    background-color: #000;
    /* Cambia il colore di sfondo al passaggio del mouse */
    color: #fff;
    /* Cambia il colore del testo al passaggio del mouse */
}
.testo {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Cambia il colore del testo a uno che contrasti bene con lo sfondo */
    font-size: 36px;
    /* Dimensione del testo leggermente ridotta per una migliore leggibilità */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
    padding: 20px;
}
.testo2 {
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Cambia il colore del testo a uno che contrasti bene con lo sfondo */
    font-size: 36px;
    /* Dimensione del testo leggermente ridotta per una migliore leggibilità */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
    padding: 20px;
}
.testo1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Cambia il colore del testo a uno che contrasti bene con lo sfondo */
    font-size: 36px;
    /* Dimensione del testo leggermente ridotta per una migliore leggibilità */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
   padding-top: 10px;
}
.testo11 {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Cambia il colore del testo a uno che contrasti bene con lo sfondo */
    font-size: 36px;
    /* Dimensione del testo leggermente ridotta per una migliore leggibilità */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
    padding-top: 5px;
    padding-bottom: 35px;
}
.testopiccolo1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    /* Cambia il colore del testo a uno che contrasti bene con lo sfondo */
    font-size: 18px;
    /* Dimensione del testo leggermente ridotta per una migliore leggibilità */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
    padding-top: 40px;
    padding-bottom: 60px;
}

.testopiccolo {
    position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        /* Cambia il colore del testo a uno che contrasti bene con lo sfondo */
        font-size: 18px;
        /* Dimensione del testo leggermente ridotta per una migliore leggibilità */
        font-weight: bold;
        font-family: Arial, sans-serif;
        /* Utilizza un carattere senza grazie per una maggiore leggibilità */
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        /* Ombra del testo per aumentarne la leggibilità */
        padding: 20px;
}
#navigation ul, #navigation li {
display : inline-block;

}

#navigation, #navigation a{

padding-left : 300px;
padding-bottom: 20px;


}
#navigation a {
border : none;
color : #ededed;
font-family : Arial Black;
padding : 5px 0 5px 15px;
font-size : 18px;
font-weight : 700;
text-decoration : none;
}
#navigation a:hover {
color : #ed1c24;
}
#logoutpos {
    display: inline-block;
    text-decoration: none;
    margin-left: 5px;
    padding-top: 5px;

}
#loginn {
    
        background-color: transparent;
        padding-left: 5px;
        border: none;
        color: #ededed;
        font-family: Arial Black;
        width: 75px;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
}
#loginn:hover {
    cursor:pointer;
    color: #ed1c24;
}

#logout:hover 
{
    cursor:  pointer ;
    color: #ed1c24;
}
#logout {
    
  background-color: transparent;
    padding-left: 5px;
    border: none;
    color: #ededed;
    font-family: Arial Black;
    width: 75px;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}
#logout input [type="submit"]{
   
    padding-bottom: 10px;
    padding-left: 5px;
    border: none;
    color: #ededed;
    font-family: Arial Black;
    width: 75px;
    font-size: 18px;

    text-decoration: none;
}



/* CLASS-ID  TITOLI PARAGRAFI E TESTI */
#titoloarea1 {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
padding-right : 8px;
}
#titoloarea2 {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
padding-left : 20px;
}
#titoloarea3 {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
padding-right : 5px;
}
#titoloarea4 {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
padding-right : 3px;
}
.descrizione {
text-align : left;
font-family : Arial Black;
font-weight : 700;
font-size : 30px;
color : #000000;
text-transform : uppercase;
padding-left : 30px;
}
.titolicorsi {
text-align : left;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
padding-left : 30px;
}
#titoloform {
text-align : center;
font-family : Arial Black;
font-size : 25px;
color : #000000;
padding-top : 5px;
text-transform : uppercase;
}
.titolo {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : capitalize;
padding-left : 30px;
padding-top : 40px;
}
.titolovip {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 26px;
color : #000000;
text-transform : uppercase;
padding-left : 30px;
padding-top : 40px;

}
.titolovipad {
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 80px;
    padding-top: 40px;}
        .titolovipad1 {
            text-align: center;
            font-family: Arial Black;
            font-weight: 700;
            font-size: 26px;
            color: #000000;
            text-transform: uppercase;
            margin-top: 30px;
            padding-top: 40px;
        }
                .titolovipad2 {
                    text-align: center;
                    font-family: Arial Black;
                    font-weight: 700;
                    font-size: 26px;
                    color: #000000;
                    text-transform: uppercase;
                    margin-top: 35px;
                    padding-top: 45px;
                }
#titolovip1 {
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 17px;
    color: #000000;
    text-transform:uppercase;
    padding-left: 30px;
    padding-top: 40px;

}

.titolovip2 {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 30px;
color : #000000;
text-transform : uppercase;
padding-left : 30px;
padding-top : 40px;
}
.corsi1 {
font-family : sans-serif;
font-size : 17px;
color : #555555;
text-align : center;
}
#benefit {
text-align : left;
font-family : sans-serif;
font-weight : 700;
font-size : 13px;
color : #000000;
}
.corsiarea {
font-family : sans-serif;
font-size : 17px;
color : #555555;
padding-left : 50px;
padding-right : 20px;
padding-bottom : 100px;
text-align : center;
}
#cit {
text-align : center;
font-family : sans-serif;
color : #555555;
padding-bottom : 30px;
}
.corsi {
font-family : sans-serif;
font-size : 17px;
color : #555555;

}
#spiegazioneform {
font-family : sans-serif;
font-size : 17px;
color : #555555;
padding : 10px 15px 0 15px;
text-align : center;
}
#sara {
font-family : sans-serif;
font-size : 17px;
color : #555555;
padding-left : 30px;
padding-right : 20px;
}
#Lazzarottogym {
text-align : left;
font-family : sans-serif;
font-weight : 700;
font-size : 20px;
color : #222;
text-transform : uppercase;
padding-bottom : 300px;
padding-left : 100px;
padding-top : 0;
}
.titoloorari {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
padding-top : 20px;
}
.covid {
text-align : center;
font-family : sans-serif;
font-size : 17px;
color : #555555;
padding-left : 30px;
padding-right : 20px;
}
.benefici {
font-family : sans-serif;
font-size : 18px;
color : #555555;
padding-left : 50px;
padding-right : 20px;
}
.tag {
text-align : center;
font-family : sans-serif;
font-weight : 700;
font-size : 18px;
color : #000000;
text-transform : inherit;
padding-bottom : 20px;
}
#fineorari {
font-family : sans-serif;
font-size : 20px;
color : #000000;
text-align : center;
padding-top : 20px;
padding-bottom : 10px;
}
/* ID-CLASS TABELLE, DIV SPAZI, CLASSI FORM TAB ETC */
.tabellaarea {
margin-bottom : 50px;
font-family : sans-serif;
font-weight : 700;
font-size : 13px;
color : #000000;
margin-top : 50px;
border-collapse : separate;
border-spacing : 50px;
}
#invioquest {
width : 150px;
height : 28px;
border : none;
background-color : #a7a5a2;
cursor : pointer;
margin-top : 20px;
margin-bottom : 20px;
font-size : 18px;
color : #fff;
}
#invioquest:hover {
height : 28px;
background-color : #222;
border-color : #222;
font-size : 20px;
}

#tendina {
width : 300px;
height : 40px;
background-color : white;
font-size : 15px;
color : #222;
margin : 15px 5px 15px 5px;
padding : 8px 4px 8px 4px;
}
.area {
width : 500px;
height : 340px;
}
.maps {
width : 78%;
margin-left : 11%;
margin-right : 11%;
margin-top : 80px;
}
.divisore {
width : 70%;
}

.linea {
border : #ededed solid 10px;
width : 100%;
background-color : #ededed;
}

.ORARI {
font-family : sans-serif;
font-size : 20px;
color : #000000;
text-align : center;
display : table;
width : auto;
padding : 0 0 5% 17%;
}
.RIGHE {
display : table-row;
}
.RIGHE1 {
display : table-row;
font-weight : 700;
}
.CELLE {
border : #999999 solid 1px;
display : table-cell;
padding : 3px 10px;
}
.log {
width : 200px;
height : 200px;
}

#tdsx {
width : 430px;
background-color: transparent;
}
#logo {
width : 100%;
height : 100%;
padding-bottom : 100px;
}

#iscrizione {
padding : 0 5px 10px 5px;

}
#logindiv {
    
    width: 100%;
    margin: 5px;
    
}

#left, #right {
    width: 40%;
    height: 100%;
    background: white;
    display: inline-block;
    
}
#imglogin {
    width:100%;
    height: 100%;
    margin: 1em;
}

#left {
    float: left;
}

#right {
    float: right;
}
#regs {
    text-decoration: none;
}
.btnquest {
margin-bottom: 40px;
width: 130px;
font-family: Arial Black;
background-color: black;
color: white;
border-style: solid;
border-radius: 4px;
border-color: #222;
cursor: pointer;}


#quest {
font-family : sans-serif;
font-size : 18px;
color : #000000;
padding-left : 50px;
}
.benefits {
padding-left : 30px;
padding-right : 20px;
font-family : sans-serif;
font-size : 18px;
color : #ededed;
width : 80px;
height : auto;
}
.grp {
width : 100%;
height : 100%;
object-fit : contain;
}

#pt {
color : #555555;
text-decoration : none;
}
#pt:hover {
text-decoration : underline;
}

#questionariosport {
padding : 0;
}
.tag1 {
text-align : center;
font-family : Arial Black;
font-weight : 700;
font-size : 22px;
color : #000000;
text-transform : uppercase;
}
.form {
background : #FFFFFF;
width : 500px;
font-size : 15px;
font-family : sans-serif;
color : #222;
}


#attività  {
width : 300px;
height : 100px;
border : #cdcdcd solid 3px;
background-color : white;
font-size : 20px;
}
#attività:hover {
border-radius : 8px;
background-color : #ededed;
font-size : 18px;
}
#attività1 {
width : 300px;
height : 100px;
border : #cdcdcd solid 3px;
background-color : white;
font-size : 20px;
}
#attività1:hover {
border-radius : 8px;
background-color : #ededed;
font-size : 18px;
}
#date {
width : 300px;
height : 28px;
border : #cdcdcd solid 2px;
background-color : white;
font-size : 20px;
}
#date:hover {
border-radius : 8px;
background-color : #ededed;
font-size : 18px;
}

.questionario {
width : auto;
padding-bottom: 3px;
height : auto;
padding-left : 33%;
}
.iscrizione1 {
text-align : center;
background-color : #ffffff;
border : none;
}
.sociologia {
border: 3px solid #222;
border-radius: 8px;
}
.form1 {
width : 400px;
font-size : 15px;
font-family : sans-serif;
color : #222;
}

/* IMMAGINI E VIDEO */

#video {
width : 100%;
height : 90%;
padding-bottom : 0;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
background : url("imamgini/bb.jpg") no-repeat;
}
#sfondohome {
    background-size: cover;
    padding-bottom: 1000px;
    background-image: url("immagini/m.jpg");
    position: relative;
    text-align: center;
        /* Allinea il contenuto al centro orizzontalmente */
        white-space: nowrap;
}
#sfondohome1 {
    background-size:cover;
    padding-bottom: 1000px;
    background-image: url("immagini/gruppo4.jpg");
    position: relative;
    text-align: center;
    /* Allinea il contenuto al centro orizzontalmente */
    white-space: nowrap;
}
#sfondohome2 {
    background-size: cover;
    padding-bottom: 1000px;
    background-image: url("immagini/c.jpg");
    position: relative;
    text-align: center;
    /* Allinea il contenuto al centro orizzontalmente */
    white-space: nowrap;
}


#sfondohome3 {
    background-size: cover;
    padding-bottom: 1000px;
    background-image: url("immagini/contact2.jpg");
    position: relative;
    text-align: center;
    /* Allinea il contenuto al centro orizzontalmente */
    white-space: nowrap;
}
#sfondohome4 {
    background-size:cover;

    padding-bottom: 1000px;
    background-image: url("immagini/a1.jpg");
    position: relative;
    text-align: center;
    /* Allinea il contenuto al centro orizzontalmente */
    white-space: nowrap;
}

#b1 {
width : 100%;
object-fit : cover;
}
#socialimg1 {
width : 50px;
height : 50px;
}
#socialimg2 {
width : 70px;
height : 70px;
}
#socialimg3 {
width : 60px;
height : 60px;
}
#socialimg4 {
width : 200px;
height : 200px;
}
#socialimg5 {
width : 270px;
height : 270px;
}
#socialimg6 {
width : 240px;
height : 240px;
}


#logogym {
width : 280px;
height : 70px;
padding-left : 80px;
}
/* footer */
.fb1 {
padding-bottom : 20px;
}

.loghi {
width : 100%;
height : 100%;
object-fit : contain;
}
#tornasu {
position : fixed;
bottom : 30px;
right : 20px;
display : none;
padding-top : 10px;
}
.tornasu {
width : 40px;
height : 40px;
}
footer {
padding-top : 30px;
color : #555555;
width : 78%;
margin-left : 11%;
margin-right : 11%;
margin-top : 30px;
margin-bottom : 30px;
background-color : #ededed;
text-align : right;
padding-bottom : 15px;
}
.areaadfot {
    padding-top: 100px;
    color: #555555;
    width: 78%;
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ededed;
    text-align: right;
    padding-bottom: 15px;
}
.cop {
text-decoration : none;
color : #ed1c24;
font-family : Arial Black;
}
.cop:hover {
text-decoration : none;
color : #c00;
font-weight : bolder;
}
.cop1 {
text-decoration : none;
font-family : Arial Black;
color : #ed1c24;
font-weight : bolder;
}
.cop1:hover {
font-size : 20px;
color : #c00;
}

#social {
float : left;
}
/* Stile simile al form */
.lista-corsi {
    list-style-type: none;
    padding: 0;
}

.corso {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.corso:hover {
    background-color: #e7e7e7;
}


/* Stile per le scritte generate dinamicamente */
.nome-corso {

    font-family: Arial Black;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
   
    padding-top: 40px;
}

.tipo,
.descrizione1 {
    font-size: 17px;
    /* Dimensione del font aumentata */
    color: #222;
    font-family: arial ;
    /* Colore personalizzato */
}

.det {
display: inline-flexbox;
    padding: 10px 20px;
    background-color: #222;
    color: #ededed;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
    /* Sposta il bottone a destra */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
}
.det:hover {
    cursor: pointer;
    width: 100%;
    background-color: #ededed;
    /* Cambia il colore di sfondo al passaggio del mouse */
    color: #222;
    /* Cambia il colore del testo al passaggio del mouse */
}

.detad {
    display: inline-flexbox;
    padding: 10px 20px;
    background-color: #222;
    color: #ededed;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
    /* Sposta il bottone a destra */
    font-weight: bold;
    font-family: Arial, sans-serif;
    /* Utilizza un carattere senza grazie per una maggiore leggibilità */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Ombra del testo per aumentarne la leggibilità */
}

.detad:hover {
    cursor: pointer;
    width: 100%;
    background-color: #ededed;
    /* Cambia il colore di sfondo al passaggio del mouse */
    color: #222;
    /* Cambia il colore del testo al passaggio del mouse */
}

.backcorsi {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 auto;
    /* Imposta il margine a sinistra e a destra su "auto" per centrare orizzontalmente */
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.backadmin {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.backadminad {
    width: 300px;
    height: auto;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;

    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.backadminad:hover {
    cursor: pointer;
    background-color: #000;
    /* Cambia il colore di sfondo al passaggio del mouse */
    color: #fff;
}
.backadmin:hover {
    cursor: pointer;
    background-color: #000;
    /* Cambia il colore di sfondo al passaggio del mouse */
    color: #fff; } 
  #login-form5 input[type="submit"] {
    margin: 0 10px;
      padding: 10px 20px;
      background-color: #fff;
      color: #000;
      font-size: 18px;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
      text-align: center;
      font-weight: bold;
      display: inline-flex;
  }

  #login-form5 input[type="submit"]:hover {
      cursor: pointer;
      background-color: #000;

      color: #fff; }
#login-form5 {
        text-align: center;
        margin: auto;
    }

.lb1 {
    float:left; 
    margin-left: 373px;
} 
.lb2 {
    float: left;
    margin-left: 103px;
}
.rb {
    float: right;
}
.rb-margin {
    margin-right: 113px;
    float: right;
}
.rb-margin-1 {
    margin-right: 375px;
    float: right;
}
.rb-margin-2 {
    margin-right: 380px;
    float:right;
    
}
.rb-margin-3 {
    
    float:right;
    
}
.lb {float: left;}
.isc {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
        font-weight: bold;
            font-family: Arial, sans-serif;
            /* Utilizza un carattere senza grazie per una maggiore leggibilità */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            /* Ombra del testo per aumentarne la leggibilità */
 
    /* Sposta il bottone a destra */
}
.backcorsi:hover {
    cursor: pointer;
    background-color: #000;
        /* Cambia il colore di sfondo al passaggio del mouse */
        color: #fff;
        /* Cambia il colore del testo al passaggio del mouse */
}
.isc:hover {
    cursor: pointer;
    background-color: #000;
        /* Cambia il colore di sfondo al passaggio del mouse */
        color: #fff;
        /* Cambia il colore del testo al passaggio del mouse */
}

/* Stile del campo di ricerca */
.campo-ricerca {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    /* Aggiunge spazio tra il campo di ricerca e il menu a discesa */
    /* Altri stili personalizzati a tua scelta */
}

/* Stile del menu a discesa */
.menu-a-discesa {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    /* Aggiunge spazio tra il menu a discesa e la casella di controllo */
    /* Altri stili personalizzati a tua scelta */
}

.casella-controllo {
    /* Personalizza il design della casella di controllo */
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    /* Aggiungi spazio tra la casella di controllo e il pulsante Cerca */
}


.pulsante-cerca {
    display: inline-block;
        padding: 10px 20px;
        background-color: #fff;
        color: #000;
        font-size: 12px;
        border-radius: 4px;
        margin-top: 20px;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s;
        font-weight: bold;
        font-family: Arial, sans-serif;
     
}

/* Stile del pulsante Cerca al passaggio del mouse */
.pulsante-cerca:hover {
    cursor: pointer;
        background-color: #000;
        /* Cambia il colore di sfondo al passaggio del mouse */
        color: #fff;
        /* Cambia il colore del testo al passaggio del mouse */
}

.postidisp {
    
    font-family: Arial;
    display: inline-block;
    font-size: 16px;
    color: #222;    
    padding-right: 10px;
    padding-left: 20px;

}
 .container01 {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .corso-details {
     flex: 1;
     padding-left: 200px;
 }

 .corso-details h2 {
     font-size: 24px;
 }

 .corso-details p {
     font-size: 16px;
 }

 .corso-info {
text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 26px;
    color: #222;
   
       padding-bottom: 110px;
        background-color: #f4f4f4;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-right: 200px;
        margin-left: 30px;
        margin-bottom: 50px;
        height: 240px;
 }
 

 .corso-info h3 {
     font-size: 18px;
 }

 .corso-info p {
     font-size: 16px;
 }
 .course-details {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     background-color: #f9f9f9;
     border: 1px solid #ddd;
     border-radius: 5px;
     padding: 20px;
     margin: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     max-width: 1125px;
     /* Regola la larghezza massima della scheda */
     margin: 0 auto;
     /* Centra la scheda orizzontalmente */
 }

 .course-info {
     flex: 1;
     padding-right: 20px;
 }

 .course-title {
     font-size: 26px;
     /* Aumenta la dimensione del titolo */
     font-weight: bold;
 }

 .course-type,
 .course-schedule,
 .course-participants {
     font-size: 18px;
     /* Aumenta la dimensione del testo */
     font-weight: 600;
     /* Rendi il testo più spesso */
 }

 .course-description {
     font-size: 18px;
     max-width: 100%;
     /* Impedisce che il testo fuoriesca dal container */
     line-height: 1.5;
     /* Migliora la spaziatura delle righe per una migliore leggibilità */
 }

 .return-button {
     flex: 0 0 20%;
     /* Regola la larghezza del pulsante "Torna ai corsi" */
     text-align: right;
 }

 .back {
     background-color: #ed1c24;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     text-decoration: none;
     font-size: 18px;
     font-weight: bold;
     /* Rendi il testo del pulsante più spesso */
     transition: background-color 0.3s;
 }

 .back:hover {
     background-color: #c8080d;
     cursor: pointer;
 }
 .fa-facebook {
     background: #3B5998;
     color: white;
 }

 .fa-twitter {
     background: #55ACEE;
     color: white;
 }
.titolovi {
    text-align: center;
    font-family: Arial Black;
    font-weight: 700;
    font-size: 26px;
    color: #000000;
    text-transform: uppercase;
  padding-right: 350px;
    padding-top: 40px;

}
 .fa-google {
     background: #dd4b39;
     color: white;
 }

 .fa-linkedin {
     background: #007bb5;
     color: white;
 }

 .fa-youtube {
     background: #bb0000;
     color: white;
 }

 .fa-instagram {
     background: #125688;
     color: white;
 }